@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Model.ErrorMessage ??= "Oops, we were unable to find that page.";
}

<h1 class="display-1 text-danger">Error.</h1>
<hr />
<h2 class="display-4">@Model.ErrorMessage</h2>
<button type="button" class="btn btn-light" onclick="history.back()">Go Back</button>

@if (Model.ShowRequestId)
{
    <p class="text-muted">Request ID: @Model.RequestId</p>
}

<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
